.accueil-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.accueil-accueil {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--dl-color-default-primary);
}
.accueil-group2 {
  width: 100%;
  height: 269px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.accueil-header {
  width: 100%;
  height: 400px;
  position: relative;
}
.accueil-navbarlight {
  gap: 10px;
  top: 215px;
  left: 100px;
  width: 1245px;
  height: 68px;
  display: flex;
  padding: 16px 193px;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(248, 249, 250, 0);
}
.accueil-navigationlink {
  gap: 27px;
  width: 742px;
  height: 30px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.accueil-text {
  color: rgba(129, 40, 113, 1);
  width: 67px;
  height: auto;
  font-size: 18px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.accueil-text02 {
  color: var(--dl-color-secondary-color);
  width: 98px;
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.accueil-text04 {
  color: var(--dl-color-secondary-color);
  width: 77px;
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.accueil-text06 {
  color: var(--dl-color-secondary-color);
  width: 145px;
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.accueil-text08 {
  color: var(--dl-color-secondary-color);
  width: 77px;
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.accueil-text10 {
  color: var(--dl-color-secondary-color);
  width: 95px;
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.accueil-group5 {
  top: 44px;
  left: 623px;
  width: 200px;
  height: 132px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.accueil-image40-jpgdpi-logo-cropped1 {
  top: 0px;
  left: 0px;
  width: 200px;
  height: 132px;
  position: absolute;
  border-radius: 20px;
}
.accueil-text12 {
  top: 485px;
  left: 99px;
  color: rgba(39, 39, 39, 1);
  width: 634px;
  height: auto;
  position: absolute;
  font-size: 50px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.accueil-text14 {
  top: 635px;
  left: 100px;
  color: rgba(39, 39, 39, 1);
  width: 638px;
  height: auto;
  position: absolute;
  font-size: 50px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.accueil-footer {
  top: 966px;
  left: 99px;
  width: 1240px;
  height: 41px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.accueil-text19 {
  color: rgba(127, 35, 110, 1);
  width: 397px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.accueil-text24 {
  left: 421px;
  color: rgba(127, 35, 110, 1);
  width: 397px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.accueil-text31 {
  left: 843px;
  color: rgba(127, 35, 110, 1);
  width: 397px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.accueil-pexelsdiegomadrigal5396941 {
  top: 425px;
  left: 23px;
  width: 421px;
  height: 281px;
  position: absolute;
}
.accueil-image202302141900041 {
  top: 425px;
  left: 771px;
  width: 547px;
  height: 361px;
  position: absolute;
  border-radius: 20px;
}
