.livred-or-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.livred-or-livred-or {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--dl-color-default-primary);
}
.livred-or-footer {
  top: 974px;
  left: 103px;
  width: 1240px;
  height: 41px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.livred-or-text {
  color: rgba(127, 35, 110, 1);
  width: 397px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.livred-or-text05 {
  left: 421px;
  color: rgba(127, 35, 110, 1);
  width: 397px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.livred-or-text12 {
  left: 843px;
  color: rgba(127, 35, 110, 1);
  width: 397px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.livred-or-group2 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 269px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.livred-or-header {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 299px;
  position: absolute;
}
.livred-or-navbarlight {
  gap: 10px;
  top: 215px;
  left: 100px;
  width: 1245px;
  height: 68px;
  display: flex;
  padding: 16px 193px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(248, 249, 250, 0);
}
.livred-or-navigationlink {
  gap: 27px;
  width: 742px;
  height: 30px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.livred-or-text14 {
  color: var(--dl-color-secondary-color);
  width: 67px;
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.livred-or-text16 {
  color: var(--dl-color-secondary-color);
  width: 98px;
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.livred-or-text18 {
  color: var(--dl-color-secondary-color);
  width: 77px;
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.livred-or-text20 {
  color: var(--dl-color-secondary-color);
  width: 145px;
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.livred-or-text22 {
  color: var(--dl-color-secondary-color);
  width: 77px;
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.livred-or-text24 {
  color: rgba(137, 61, 122, 1);
  width: 95px;
  height: auto;
  font-size: 18px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.livred-or-group5 {
  top: 44px;
  left: 623px;
  width: 200px;
  height: 132px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.livred-or-image40-jpgdpi-logo-cropped1 {
  top: 0px;
  left: 0px;
  width: 200px;
  height: 132px;
  position: absolute;
  border-radius: 20px;
}
.livred-or-card-link {
  gap: 24px;
  top: 412px;
  left: 689px;
  width: 634px;
  height: 141px;
  display: flex;
  padding: 24px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(222, 226, 230, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.livred-or-stack {
  gap: 16px;
  width: 544px;
  height: 147px;
  display: flex;
  padding: 0 292px 46px 0;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.livred-or-text26 {
  color: var(--dl-color-heading-titlecolor);
  height: auto;
  font-size: 15px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.livred-or-text28 {
  color: var(--dl-color-gray-600);
  width: 573px;
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.livred-or-link {
  top: 516px;
  left: 733px;
  width: 80px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.livred-or-text30 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.livred-or-group7 {
  top: 534px;
  left: 89px;
  width: 572px;
  height: 409px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
.livred-or-input {
  gap: 6px;
  top: 37.94842529296875px;
  left: 20.697265625px;
  width: 352.7960205078125px;
  height: 26.704465866088867px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
  flex-direction: column;
}
.livred-or-content {
  gap: 8px;
  display: flex;
  padding: 9px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(222, 226, 230, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  background-color: var(--dl-color-default-white);
}
.livred-or-text32 {
  color: var(--dl-color-gray-500);
  height: auto;
  flex-grow: 1;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.livred-or-input1 {
  gap: 6px;
  top: 85px;
  left: 21px;
  width: 352.7960205078125px;
  height: 26.704465866088867px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
  flex-direction: column;
}
.livred-or-content1 {
  gap: 8px;
  display: flex;
  padding: 9px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(222, 226, 230, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  background-color: var(--dl-color-default-white);
}
.livred-or-text34 {
  color: var(--dl-color-gray-500);
  height: auto;
  flex-grow: 1;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.livred-or-textarea {
  gap: 6px;
  top: 134.74806213378906px;
  left: 20.60377311706543px;
  width: 519.0188598632812px;
  height: 91.94573974609375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
  flex-direction: column;
}
.livred-or-content2 {
  gap: 8px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(222, 226, 230, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  background-color: var(--dl-color-default-white);
}
.livred-or-text36 {
  color: var(--dl-color-gray-500);
  height: auto;
  flex-grow: 1;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.livred-or-text38 {
  color: var(--dl-color-gray-500);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 12px;
  font-stretch: normal;
  text-decoration: none;
}
.livred-or-button {
  gap: 8px;
  top: 360px;
  left: 222px;
  width: 120px;
  height: 34px;
  display: flex;
  padding: 10px 16px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  justify-content: center;
  background-color: rgba(137, 61, 122, 1);
}
.livred-or-text40 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.livred-or-card-link1 {
  gap: 24px;
  top: 661px;
  left: 689px;
  width: 604px;
  height: 222px;
  display: flex;
  padding: 24px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(222, 226, 230, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.livred-or-stack1 {
  gap: 16px;
  width: 544px;
  height: 147px;
  display: flex;
  padding: 0 292px 46px 0;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.livred-or-text42 {
  color: var(--dl-color-heading-titlecolor);
  height: auto;
  font-size: 15px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.livred-or-text44 {
  color: var(--dl-color-gray-600);
  width: 573px;
  height: auto;
  font-size: 10px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.livred-or-stack2 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.livred-or-link1 {
  width: 31.540700912475586px;
  height: 20px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.livred-or-text46 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.livred-or-card-body {
  top: 563px;
  left: 813px;
  width: 527px;
  height: 81px;
  display: flex;
  padding: 24px;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
  border-color: rgba(222, 226, 230, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  background-color: var(--dl-color-default-white);
}
.livred-or-text48 {
  color: var(--dl-color-bodytext-basecolor);
  width: 463px;
  height: auto;
  font-size: 10px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.livred-or-card-body1 {
  top: 893px;
  left: 846px;
  width: 494px;
  height: 81px;
  display: flex;
  padding: 24px;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
  border-color: rgba(222, 226, 230, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  background-color: var(--dl-color-default-white);
}
.livred-or-text53 {
  color: var(--dl-color-bodytext-basecolor);
  width: 463px;
  height: auto;
  font-size: 10px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.livred-or-rectangle6 {
  top: 351px;
  left: 89px;
  width: 572px;
  height: 171px;
  position: absolute;
  border-radius: 20px;
}
.livred-or-text58 {
  top: 370px;
  left: 123px;
  color: rgba(137, 61, 122, 1);
  width: 319px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.livred-or-text60 {
  top: 405px;
  left: 123px;
  color: rgba(39, 39, 39, 1);
  width: 419px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
