*{
    font-size: 1em;
}

html{
    margin:0;
    padding:0;
    height: 100vh;
    font-family: Avenir, sans-serif;
}

.active_nav_link {
    color: rgba(137, 61, 122, 1);
    font-weight: bold;
}

nav ul {
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    display : flex;
    flex-wrap: wrap;
}

body {
    margin-top:0;
    padding-top:0;
    height: 100%;
}

main {
    background: #B5B2B2;
    height: 70vh;
}

footer p, footer a {
    text-decoration: none;
    color: rgba(137, 61, 122, 1);
    font-weight: bold;
}