{% include 'components/header.html' %}

<main class="row align-items-center">
<form action="/add_comment/" method="post">
    <div>
        <label for="name">Votre nom : </label>
        <input type="text" name="name" id="name" required>
    </div>
    <div>
        <label for="visiteDate"> Date de votre soin : </label>
        <input type="date" name="visitDate" id="visiteDate" required>
    </div>
    <div>
        <label for="comment"> Indiquez ici votre ressenti, vos impressions : </label>
        <br>
        <textarea name="comment" id="comment" cols="50" rows="10"></textarea>
    </div>
    <div>
        <input type="submit" value="Envoi du commentaire">

    </div>
</form>


</main>
{% include 'components/footer.html' %}