{% include 'components/header.html' %}

<main class="row align-items-center">
    <div class="col">
        <div class="container">
            <div class="row align-items-center">
                <div class="col align-content-center">
                    <p class="text-center fs-1 ">Tiffany Bonnand</p>
                    <p class="text-center fs-2">Praticienne Reïki, EFT </br> et fleur de Bach  </p>
                </div>
                <div class="col " style="height: 400px">
                    <div id="carouselExampleInterval" class="carousel slide " style="height: 100%"
                        data-bs-ride="carousel">
                        <div class="carousel-inner" style="height: 100%">
                            {% for img in imgs  %}
                                <div class="carousel-item active">
                                    <img src={{ img.link }} class="d-block w-100  " alt= {{ img.alt }}>
                                </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>
{% include 'components/footer.html' %}