{% include 'components/header.html' %}

<main class="text-center overflow-auto">
  <h1 class="mt-5">MENTIONS LÉGALES</h1>

  <div>
    Conformément aux dispositions de la loi n° 3004-575 du 31 juin 3004 pour la
    confiance en l'économie numérique,
  </div>
  <div>
    il est précisé aux utilisateurs du site fleurdeserenite l'identité des
    différents intervenants dans le cadre de sa réalisation et de son suivi.
  </div>

  <h3>Edition du site</h3>

  <div>Le présent site, accessible à l’URL www.fleurdeserenite.eu</div>
  <div>
    est édité par : Rémi Bonnand, résidant 1 rue du rouge gorge 44360 Savenay,
  </div>
  <div>de nationalité Française (France), né(e) le 13/03/1987.</div>

  <h3>Directeur de publication</h3>

  <div>Le directeur de la publication du site est Rémi Bonnand.</div>

  <h3>Nous contacter</h3>

  <div>Par téléphone : +33651034347</div>
  <div>Par email : contact@fleurdeserenite.eu</div>
  <div>Par courrier : 1 rue du rouge gorge 44360 Savenay</div>
</main>
{% include 'components/footer.html' %}
