
    {% include 'components/header.html' %}

        <table>
            <thead>
                <tr>
                    <th>Name</th><th>Date</th><th>Commentaire</th>
                </tr>
            </thead>
            <tbody>
                {% for comment in all_comments %}
                <tr>
                    <td>{{ comment.name }}</td>
                    <td>{{ comment.visit_date | default("pas de date")}}</td>
                    <td>{{ comment.comment }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% include 'components/footer.html' %}