{% include 'components/header.html' %}
<main class="row align-items-center">
    <div class="col">
        <div class="container">
                <span>
                  Après une carrière dans le commerce, l'hôtellerie puis la
                  petite enfance, j'ai ressenti le besoin de me reconnecter à
                  moi-même, à mon "moi" profond.
                </span>
                <br/>
                <span>
                  Quelques mois de coaching m'ont permis de retrouver mes
                  piliers sensoriels et émotionnels.
                </span>
                <br/>
                <span></span>
                <br/>
                <span>
                  Je me suis alors tournée vers le Reiki, car il m'est apparu
                  comme une évidence.
                </span>
                <br/>
                <span>
                  Ma rencontre avec Fabian Igier (Usui Reiki Ryoho) a confirmé
                  mon souhait d'apporter un regard bienveillant sur le monde, et
                  de vous accompagner sur votre propre chemin.
                </span>
                <br/>
                <span></span>
                <br/>
                <span>
                  J'ai passé mes deux niveaux de Reiki, puis me suis formée à
                  l'EFT et aux fleurs de Bach.
                </span>
                <br/>
                <span></span>
                <br/>
                <span>
                  J'ai à cœur de vous accompagner dans votre découverte de votre
                  "moi" profond comme je l'ai été moi-même.
                </span>
                <br/>
                <span></span>
                <br/>
                <span>Prenez soin de vous.</span>
              </span>
        </div>
    </div>
</main>
{% include 'components/footer.html' %}