{% include 'components/header.html' %}

<main class="overflow-auto">
    <div class="container-fluid h-100">
        <div class="row align-items-center justify-content-center h-100">
            <div class="col-12 col-md-6 p-3 h-100 ">
                <div class="container card bg-light p-3 text-wrap presentation_Tiffany h-100 rounded-5">
                    <p class="card-text overflow-auto fs-6">

                    Après une carrière dans le commerce, l'hôtellerie puis la
                    petite enfance, j'ai ressenti le besoin de me reconnecter à
                    moi-même, à mon "moi" profond.

                    <br/>

                    Quelques mois de coaching m'ont permis de retrouver mes
                    piliers sensoriels et émotionnels.

                    <br/>

                    <br/>

                    Je me suis alors tournée vers le Reiki, car il m'est apparu
                    comme une évidence.

                    <br/>

                    Ma rencontre avec Fabian Igier (Usui Reiki Ryoho) a confirmé
                    mon souhait d'apporter un regard bienveillant sur le monde, et
                    de vous accompagner sur votre propre chemin.

                    <br/>
                    <span></span>
                    <br/>

                    J'ai passé mes deux niveaux de Reiki, puis me suis formée à
                    l'EFT et aux fleurs de Bach.

                    <br/>

                    <br/>

                    J'ai à cœur de vous accompagner dans votre découverte de votre
                    "moi" profond comme je l'ai été moi-même.

                    <br/>

                    <br/>
                    Prenez soin de vous.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-4 p-3 h-100 ">
                <img class="rounded-5 m-auto h-100" src="/static/medias/img/who_i_am/reiki.jpg" alt=""/>
            </div>
        </div>
    </div>
</main>
{% include 'components/footer.html' %}