<footer class="bg-light">
    <div class="container text-center">
       <div class="row align-items-center">
            <div class="col">
                <p> Téléphone : 06 63 80 86 10 <br/>
                e-mail : contact@fleurdeserenite.eu</p>
            </div>
            <div class="col">
                <p>Adresse :<br/>
                1 rue du rouge gorge<br/>
                44260 SAVENAY</p>
            </div>
            <div class="col">
                <a href="#">Mentions légales</a>
            </div>
       </div>
    </div>
</footer>
</body>
</html>