<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="static/css/style.css">
    <title>Fleur de Sérénité</title>
</head>
<body>
<header>
    <div class="py-2">
        <img class="rounded mx-auto d-block" src="static/medias/img/logo.png" alt="logo du site, une fleur de lotus">
    </div>
    <div class="container">
        <nav class="navbar navbar-expand-lg ">
            <div class="container">
                <a class="navbar-brand d-none d-md-block d-lg-none active_nav_link" href="#">Menu</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="container navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active_nav_link" href="/">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="quisuisje.html">Qui suis-je</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="activites.html">Activités</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contactezmoi.html">Contactez-moi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="tarifs.html">Tarifs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/guest_book">Livre d'or</a>
                        </li>
                    </ul>


                </div>
            </div>
        </nav>
    </div>
</header>