<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src={{ url_for('static', filename='jquery/jquery-3.6.0.min.js') }}></script>
    <script src={{ url_for('static', filename='js/bootstrap.bundle.min.js') }}></script>
    <link rel="stylesheet" href={{ url_for('static', filename='css/bootstrap.min.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }}>
    <title>Fleur de Sérénité</title>
</head>
<body>
<header>
    <div class="py-2">
        <img class="rounded mx-auto d-block" src={{ url_for('static', filename='medias/img/logo.png') }} alt="logo du site, une fleur de lotus">
    </div>
    <div class="container">
        <nav class="navbar navbar-expand-lg ">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="container navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link {% if (request.url.endswith('home/')) %}active_nav_link {% endif %}"
                               href="{{ url_for('home') }}">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if (request.url.endswith('who_i_am/')) %}active_nav_link {% endif %}"
                               href="{{ url_for('who_i_am') }}">Qui suis-je</a>
                        </li>
                        <li class="nav-item"><a
                                class="nav-link {% if (request.url.endswith('activities/') ) %}active_nav_link {% endif %}"
                                href="{{ url_for('activities') }}">Activités</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if (request.url.endswith('contact/') ) %}active_nav_link {% endif %}"
                               href="{{ url_for('contact') }}">Contactez-moi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if (request.url.endswith('prices/') ) %}active_nav_link {% endif %}"
                               href="{{ url_for('prices') }}">Tarifs</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>