<div class=" d-md-block d-lg-none ">
    <div class="container">
        <div class="col">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="row p-2">
                    <div class="btn-group col" role="group" aria-label="Basic">
                        {% for activity in img_link %}
                            <button class=" collapsed fw-bold btn btn-custom" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapse{{ loop.index }}" aria-expanded="true"
                                    aria-controls="flush-collapse{{ loop.index }}">
                                {{ activity.title }}
                            </button>

                        {% endfor %}
                    </div>
                </div>
                {% for activity in img_link %}
                    <div id="flush-collapse{{ loop.index }}" class="accordion-collapse collapse show"
                         data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="card m-auto h-100">
                                <div class="row g-0 h-100">
                                    <div class="m-auto h-100 col-md-4 d-none d-md-block ">
                                        <div class="row align-items-center justify-content-center h-100">
                                            <div class="col m-auto">
                                                <img class="w-100" src={{ url_for('static', filename=activity.link) }}
                                                        alt={{ activity.alt }} >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8 row align-items-center h-100">
                                        <div class="card-body col overflow-auto h-100">
                                            <h5 class="card-title"> {{ activity.title }}</h5>
                                            <p class="card-text overflow-auto text-wrap">{{ activity.description }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>